/* Global Styles */
* {
	margin: 0;
	padding: 0;
	font-family: "poppins", sans-serif;
	text-decoration: none;
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	/* Colors */
	--bg-color: rgb(15, 23, 42);
	--header-color: #0000002a;
	--text-color: #fff;
	--main-color: #78c9fb;

	/* Typography */
	--font-base: clamp(1rem, 0.9rem + 0.5vw, 1.2rem);
	--font-headings: clamp(2.5rem, 1.5rem + 3vw, 4rem);
	--font-logo: clamp(1.2rem, 1.2rem + 1vw, 2rem);
}

html, body {
	overflow-x: hidden;
	max-width: 100%;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
	line-height: 1.5;
}

img {
	display: block;
}

[data-aos] {
	overflow: visible !important;
}

h3 {
	white-space: nowrap;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--main-color);
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background-color: rgba(13, 16, 64, 0.552);
}

/* Header */
.header {
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
	padding: 0.8rem 1.2rem;
	background: var(--header-color);
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 999;
}

.header-controls {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

#menu-icon {
	font-size: 2rem;
	color: var(--main-color);
	display: block;
	z-index: 1000;
}

.logo {
	font-size: var(--font-logo);
	color: var(--text-color);
	font-weight: 600;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	white-space: nowrap;
	order: 1;
}

.logo:hover {
	transform: scale(1.1);
}

span {
	background: linear-gradient(to top, var(--main-color), var(--bg-color));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
}

.navbar {
	position: absolute;
	top: 100%;
	right: 0;
	width: 50%;
	padding: 0.625rem 1.875rem;
	background: var(--bg-color);
	border-bottom-left-radius: 1.25rem;
	border-left: 1px solid var(--main-color);
	border-bottom: 1px solid var(--main-color);
	display: none;
}

.navbar a {
	display: block;
	font-size: 1.2rem;
	width: fit-content;
	color: var(--text-color);
	margin: 1.875rem 0;
	font-weight: 600;
	transition: border-bottom 0.3s ease-in-out;
	border-bottom: 3px solid transparent;
}

.navbar a:hover {
	border-bottom: 3px solid var(--main-color);
}

.navbar.active {
	display: block;
}

.gradient-btn {
	font-size: 0.9rem;
	font-weight: 600;
	padding: 0.2rem 0.8rem;
	border-radius: 0.5rem;
	cursor: pointer;
	color: white;
	transition: all 0.3s ease-in-out;
	background: linear-gradient(
		270deg,
		var(--main-color) 10%,
		var(--bg-color) 100%
	);
	border: 1px solid var(--main-color);
	display: flex;
	justify-content: center;
	align-items: center;
	order: 2;
	margin-left: auto;
	margin-right: 1rem;
}

.gradient-btn > i {
	display: inline;
	font-size: 1.2rem;
}

.gradient-btn:hover {
	transform: scale(1.1);
	box-shadow: 0 0 5px var(--main-color);
}

.header .header-controls {
	order: 3;
}

/* Hero section */
section {
	min-height: fit-content;
	padding: 6rem 5% 3rem 5%;
}

.home {
	padding-top: 8rem;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: center;
	gap: 3.125rem;
}

.home-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 100%;
	row-gap: 2rem;
}

.home-content h1 {
	font-weight: 500;
	font-size: 1.125rem;
	background-color: var(--bg-color);
	color: white;
	white-space: nowrap;
	box-shadow: inset 2px 2px 10px var(--main-color);
	border: 1px solid var(--main-color);
	border-radius: 0.75rem;
	padding: 0.5rem;
}

.home-content h2 {
	font-size: 1.8rem;
}

.home-content p {
	font-weight: 500;
	font-size: var(--font-base);
}

/* Image Animation */
@keyframes floatImage {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
}

.hero-image {
	animation: floatImage 4s ease-in-out infinite;
}

.home-img img {
	width: 100%;
	height: auto;
	max-height: 70vh;
	object-fit: cover;
}

.social-icons a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 1.875rem;
	padding: 0.625rem;
	border-radius: 50%;
	border: 2px solid var(--main-color);
	background: transparent;
	margin: 0 0.3125rem;
	color: var(--main-color);
	transition: 0.3s ease-in-out;
}

.social-icons a:hover {
	background: var(--main-color);
	color: var(--bg-color);
	transform: scale(1.1) translateY(-5px);
	box-shadow: 0 0 1.5625rem var(--main-color);
}

.btn {
	display: inline-block;
	max-width: max-content;
	padding: 0.625rem 1.875rem;
	background-color: var(--main-color);
	color: var(--bg-color);
	box-shadow: 0 0 1.5625rem var(--main-color);
	border-radius: 3rem;
	font-size: 1.125rem;
	font-weight: 600;
	border: 2px solid transparent;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.btn:hover {
	transform: scale(1.05);
	box-shadow: 0 0 1.5625rem var(--main-color), 0 0 3.125rem var(--main-color);
	background-color: var(--bg-color);
	color: var(--main-color);
}

/* Heading */
.heading {
	text-align: center;
	font-size: var(--font-headings);
	margin: 1rem 0 3rem 0;
}

/* About */
.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;
}

.about-img img {
	width: 80%;
	height: auto;
	object-fit: cover;
	animation: floatImage 4s ease-in-out infinite;
}

.about-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 2rem;
}

.about-content h3 {
	font-size: var(--font-headings);
	text-align: center;
}

.about-content p {
	font-size: var(--font-base);
}

/* Skills*/
.skills-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(8.125rem, 1fr));
	gap: 0.9375rem;
	align-items: center;
	justify-content: center;
}

.skill-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--main-color);
	height: 9.375rem;
	border-radius: 1.875rem;
	cursor: pointer;
	border: 5px solid transparent;
	transition: all 0.4s ease-in-out;
	color: var(--bg-color);
	padding: 0.625rem;
}

.skill-box:hover {
	background: var(--bg-color);
	border: 5px solid var(--main-color);
	color: var(--main-color);
	transform: scale(1.1);
}

.skill-box i {
	font-size: 3.125rem;
	margin-bottom: 0.625rem;
}

.skill-box h4 {
	font-size: 1.125rem;
	font-weight: 700;
	white-space: nowrap;
}

/* Projects  */
.projects h3 {
	white-space: wrap !important;
}

.projects-box {
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
	gap: 1.875rem;
	row-gap: 3.125rem;
}

.project-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--bg-color);
	border: 2px solid var(--main-color);
	border-radius: 1.875rem;
	gap: 1.25rem;
	padding: 1.875rem 0.9375rem;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 0 5px var(--main-color);
	transition: all 0.3s ease;
}

.project-card:hover {
	box-shadow: 0 0 1.5625rem var(--main-color), 0 0 3.125rem var(--main-color);
	transform: scale(1.02);
}

.project-card img {
	width: 100%;
	max-width: 18.75rem;
	height: auto;
	border-radius: 1.25rem;
	object-fit: cover;
}

.project-card h3 {
	font-size: 1.25rem;
}

.project-card p {
	font-size: var(--font-base);
}

.project-links {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
}

.project-links a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	background-color: var(--main-color);
	color: var(--bg-color);
	font-size: 1.5625rem;
	transition: 0.3s ease;
	box-shadow: 0 0 10px var(--main-color);
}

.project-links a:hover {
	transform: scale(1.1);
	background-color: var(--bg-color);
	color: var(--main-color);
	border: 2px solid var(--main-color);
	box-shadow: 0 0 20px var(--main-color);
}

/* Contact */
.visually-hidden {
	position: absolute;
	left: -9999px;
}

.contact h3 {
	margin: 0 auto;
}

.contact form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 0.625rem;
	text-align: center;
	position: relative;
}

.contact form .input-group,
.contact form .input-box {
	flex-direction: column;
	align-items: center;
	gap: 0.625rem;
}

.contact form .input-box input,
.contact form textarea {
	color: var(--text-color);
	background-color: var(--bg-color);
	width: 100%;
	font-size: 1.125rem;
	padding: 0.9375rem;
	border-radius: 1.25rem;
	border: 1px solid var(--main-color);
	margin: 0.875rem 0;
	resize: none;
	transition: all 0.3s ease-in-out;
}

.contact form textarea {
	height: 290px;
}

.contact form .input-box input:focus,
.contact form textarea:focus {
	border-width: 2px;
	border-color: var(--main-color);
	box-shadow: 0 0 1.5625rem var(--main-color);
	outline: none;
}

/* Error Style */
.input-error {
	border-color: #ff4d4d !important;
	box-shadow: 0 0 0.9375rem #ff4d4d !important;
}

.feedback {
	font-size: 0.9rem;
	font-weight: 600;
	color: #ff4d4d;
	position: absolute;
	top: -90px;
	opacity: 0;
}
/* Footer */
.footer {
	padding: 4rem 0 2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.2rem;
}

.footer .copyright {
	font-size: 1.2rem;
	white-space: nowrap;
}

/* Scroll to Top Button */
.scroll-to-top {
	position: fixed;
	bottom: 1.875rem;
	right: 1.875rem;
	display: none;
	width: 2.5rem;
	height: 2.5rem;
	background-color: var(--main-color);
	color: var(--bg-color);
	border-radius: 50%;
	font-size: 1.8rem;
	box-shadow: 0 0 0.9375rem var(--main-color);
	z-index: 99;
	transition: all 0.3s ease;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}

.scroll-to-top:hover {
	background-color: var(--bg-color);
	color: var(--main-color);
	border: 2px solid var(--main-color);
	transform: scale(1.1);
}

/* Media Query */
@media (min-width: 600px) {
	.projects-box {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 769px) {
	.header {
		padding: 0rem 2rem;
	}
	#menu-icon {
		display: none;
	}
	.navbar {
		position: static;
		flex-grow: 1;
		text-align: center;
		width: auto;
		padding: 0;
		background: transparent;
		border-bottom-left-radius: 0;
		border-left: none;
		border-bottom: none;
		display: block;
	}

	.navbar a {
		display: inline-block;
		font-size: 1.3rem;
		margin-left: 1.25rem;
	}

	.logo {
		order: 0;
	}

	.gradient-btn {
		font-size: 1.125rem;
		padding: 0.3rem 0.8rem;
		order: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.gradient-btn > i {
		font-size: 1.5rem;
	}

	.header .header-controls {
		order: 0;
	}

	section {
		padding: 8rem 8% 4rem 8%;
	}
	.home {
		flex-direction: row;
		margin: 0;
		gap: 0;
	}

	.home-content {
		align-items: flex-start;
		text-align: left;
		max-width: 50%;
	}

	.home-content h2 {
		font-size: clamp(2rem, 2rem + 3vw, 2.2rem);
	}

	.about {
		flex-direction: row;
		align-items: center;
		text-align: left;
		gap: 6rem;
	}

	.about-content {
		justify-content: flex-start;
		align-items: flex-start;
	}

	.about-img img {
		width: 100%;
	}

	.skills-container {
		grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
		gap: 1.5625rem;
	}

	.skill-box {
		height: 12.5rem;
		padding: 0;
	}

	.skill-box i {
		font-size: 5rem;
	}

	.skill-box h4 {
		font-size: 1.5625rem;
	}

	.projects h3 {
		white-space: nowrap !important;
	}

	.projects-box {
		grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
	}

	.project-card {
		padding: 3.125rem 1.25rem;
	}

	.project-card img {
		width: 18.75rem;
		max-width: none;
		height: 18.75rem;
	}

	.contact h3 {
		margin: 3.125rem;
		margin-top: 0;
	}

	.contact form {
		flex-direction: row;
		align-items: flex-start;
		gap: 1.5rem;
	}

	.contact form .input-group,
	.contact form .input-box {
		gap: 0;
	}

	.contact form .input-box input,
	.contact form textarea {
		padding: 1.5625rem;
	}

	.feedback {
		top: -22px;
		font-size: 1rem;
		left: 10px;
	}
}

@media (min-width: 1200px) {
	.projects-box {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* @media (prefers-reduced-motion:reduce) {
	[data-aos] {
		opacity: 1 !important;
		transform: none !important;
		transition: none !important;
	}
} */
